body {
	background-color: #0a1931;
	color: white;
	width: 90%;
	margin: 20px auto;
	font-family: "Satisfy", cursive;
}
.social {
	position: fixed;
}
.about {
	width: 50%;
	margin: 100px auto;
	padding: 10px;
	padding-top: 100px;
}
